body {
  height: 100%;
}

#root {
  height: 100%;
}

.masthead.segment {
  height: 100%;
  padding: 1em 0em;
}

.masthead h1.ui.header {
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.icon.input {
  cursor: pointer !important;
}

.dropdown {
  margin: 0 auto;
}

.negative.message {
  margin-top: 3rem !important;
}

.my-content {
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  position: relative;
  flex-wrap: wrap;
  height: 90%;
}

.segment.my-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border: none;
  background: none;
}

.my-loader>.dimmer {
  background: none;
}